#generalpasos{

    background-image: url("http://st.depositphotos.com/1001866/1876/i/950/depositphotos_18760929-School-doodles-background.jpg");
    padding: 300px;
}

#primerpaso{
    font-family: "Century Gothic";
    color: grey;
    text-align: center;
    font-size: 25px;
    background-color: white;
}

#segundopasoundopaso{
    font-family: "Century Gothic";
    color: grey;
    text-align: center;
    font-size: 25px;
    background-color: white;
}
#tercerpasoerpaso{
    text-align: center;
    font-size: 25px;
    font-family: "Century Gothic";
    color: grey;
    background-color: white;

}

#cuartopaso{
    text-align: center;
    font-size: 25px;
    font-family: "Century Gothic";
    color: grey;
    background-color: white;
}
#quintopaso{
    text-align: center;
    font-size: 25px;
    font-family: "Century Gothic";
    color: grey;
    background-color: white;

}
